.card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;

    height: 100%;
    aspect-ratio: 63 / 88;

    border-radius: 4px;
    border: none;
    outline: 1px solid #000;
    background-color: transparent;
}

@media (hover: hover) {
    .card:hover {
        cursor: pointer;

        outline: 3px solid black;
    }
}

.card:focus {
    outline: 3px solid black;
}

.suit {
    color: black;
    font-size: 0.9rem;
}

.rank {
    color: black;
    font-size: 1.6rem;
    font-weight: bold;
}
