.card {
    display: grid;
    grid-template-rows: 1fr 50% 1fr;
    grid-template-columns: 100%;
    justify-content: center;
    align-items: center;
    gap: 4%;

    border-radius: 4px;
    border: 1px solid var(--outline-secondary);
    outline: none;
    background-color: transparent;

    min-width: 0;
    height: 100%;
    aspect-ratio: 63 / 88;
    padding: 2px;
}

.card.showing {
    border: 1px solid rgb(255, 215, 0);
    outline: 1px solid var(--outline-secondary);
    background-color: rgba(255, 215, 0, 0.1);
}

@media (hover: hover) {
    .card:hover:not(:disabled) {
        cursor: pointer;

        outline: 2px solid var(--outline-secondary);
    }
}

.card:focus:not(:disabled) {
    outline: 2px solid var(--outline-secondary);
}

.suit-top,
.suit-bottom {
    justify-self: start;

    height: 100%;
    aspect-ratio: 1;
}

.suit-bottom {
    justify-self: end;

    transform: scale(1, -1);
}

.rank {
    fill: var(--text-primary);
    font-family: Roboto;
    font-size: 2rem;
    font-weight: bold;
}
