.field-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;

    width: 100%;
}

.field-options {
    display: flex;
    align-items: center;
    gap: 8px;
}

.decrease-button,
.increase-button {
    display: flex;
    justify-content: center;
    align-items: center;

    pointer-events: all;

    outline: 1px solid var(--outline-secondary);
    border: none;
    border-radius: 9999px;
    background-color: transparent;

    height: 100%;
    aspect-ratio: 1;
    padding: 1px;
}

@media (hover: hover) {
    .decrease-button:hover,
    .increase-button:hover {
        cursor: pointer;

        outline: 2px solid var(--outline-secondary);
        background-color: var(--button-primary-hover);
    }
}

.decrease-button:focus,
.increase-button:focus {
    cursor: pointer;

    outline: 2px solid var(--outline-secondary);
    background-color: var(--button-primary-focus);
}

.decrease-button > p,
.increase-button > p {
    color: var(--text-primary);
    font-size: 18px;
}
