.data {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 100%;
    gap: 24px;

    overflow-y: auto;

    pointer-events: all;

    border: 1px solid #000;
    background-color: #fff;

    width: 100%;
    height: 100%;
    padding: 8px;
}
