.field-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;

    width: 100%;
}

select {
    justify-self: end;

    color: var(--text-primary);
    font-size: 0.9rem;
    font-family: Roboto;
    text-transform: capitalize;
    text-align: center;

    border: none;
    border-radius: 2px;
    outline: 1px solid var(--outline-secondary);
    background-color: var(--background-tertiary);

    padding: 2px;
}

@media (hover: hover) {
    select:hover {
        cursor: pointer;
    }
}

select:focus {
    cursor: pointer;

    outline: 2px solid var(--outline-secondary);
}

option {
    appearance: none;

    color: var(--text-primary);
    font-family: Roboto, sans-serif;
    text-align: center;
}

option:nth-child(2n-1) {
    background-color: var(--option-odd-background);
}

option:nth-child(2n) {
    background-color: var(--option-even-background);
}
