.design {
    display: flex;
    flex-direction: column;
    justify-content: start;

    overflow-y: auto;

    pointer-events: none;

    border: 1px solid #000;
    background-color: #fff;

    width: 100%;
    height: 100%;
    padding: 8px;
}

.field-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;

    width: 100%;
}

.field-options {
    display: flex;
    align-items: center;
    gap: 8px;
}

.decrease-button,
.increase-button {
    display: flex;
    justify-content: center;
    align-items: center;

    pointer-events: all;

    color: black;
    font-size: 18px;

    border: 1px solid #000;
    border-radius: 9999px;
    background-color: transparent;

    height: 100%;
    aspect-ratio: 1;
    padding: 1px;
}

@media (hover: hover) {
    .decrease-button:hover,
    .increase-button:hover {
        cursor: pointer;

        background-color: rgba(0, 0, 0, 0.1);
    }
}

.decrease-button:focus,
.increase-button:focus {
    cursor: pointer;

    background-color: rgba(0, 0, 0, 0.2);
}
