.hand-rankings {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 8px;

    overflow-y: auto;

    pointer-events: all;

    border: 1px solid #000;
    background-color: #fff;

    width: 100%;
    height: 100%;
    padding: 8px;
}

.hand-rankings-title {
    color: black;
    font-size: 0.9rem;
    font-style: italic;
    text-align: center;
}

.hand-ranking-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.separator {
    background-color: rgba(0, 0, 0, 0.5);

    width: 100%;
    min-height: 2px;
}

.hand-ranking-name {
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: underline;
}

.hand-ranking-cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 4px;

    width: 100%;
}

.hand-ranking-description {
    color: black;
    font-size: 0.9rem;
    font-style: italic;
}

.hand-ranking-additional-information {
    color: black;
    font-size: 0.8rem;
    font-style: italic;
}
