.container {
    container-type: inline-size;

    width: 100%;
}

.board {
    position: relative;

    display: flex;
    flex-wrap: nowrap;
    gap: 8px;

    border: 1px solid #000;

    width: 100%;
    padding: 8px;
}

.board-name {
    position: absolute;
    translate: 4px -100%;

    background-color: white;

    padding: 0px 6px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 4px;

    overflow-x: auto;

    width: 100%;
    max-width: 100%;
    padding: 4px;
}

@container (width < 300px) {
    .board {
        flex-direction: column;
        gap: 4px;

        padding: 4px;
    }
}

.cards > * {
    width: 100%;
    max-width: 90px;
}

.board-options {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 8px;

    height: 100%;
}

.board-options > * {
    display: flex;
    justify-content: center;
    align-items: center;

    pointer-events: all;

    color: rgba(0, 0, 0, 0.7);

    border: none;
    border-radius: 9999px;
    background-color: transparent;

    padding: 4px;
}

@media (hover: hover) {
    .board-options > *:hover {
        cursor: pointer;

        color: rgb(15, 192, 53);
        outline: 1px solid #000;
    }
}

.board-options > *:focus {
    cursor: pointer;

    color: rgb(15, 192, 53);
    outline: 1px solid #000;
    background-color: rgba(0, 0, 0, 0.1);
}

.board-stage-message {
    color: rgb(30, 30, 30);
    font-family: Roboto;
    font-size: 0.9rem;
    font-style: italic;
    text-align: center;

    width: 100%;
}
