.hand {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto;
    gap: 8px;

    border: 1px solid #000;

    height: 200px;
    padding: 8px;
}

.hand-id {
    display: flex;
    justify-content: start;

    color: black;
    font-size: 1rem;

    width: 100%;
}

.cards {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.hand-strength {
    display: flex;
    justify-content: center;

    color: black;
    font-size: 0.9rem;

    width: 100%;
}
