.hand {
    position: relative;

    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: auto;
    gap: 8px;

    border: 1px solid #000;

    height: 170px;
    padding: 12px 8px 8px;
}

.hand-id {
    position: absolute;
    translate: 10% -50%;

    background-color: white;

    padding: 0px 6px;
}

.cards {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.hand-strength {
    display: flex;
    justify-content: center;

    color: black;
    font-size: 0.9rem;

    width: 100%;
}
